<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeManager Pro - Gestion de Café</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Utilisation de Thymeleaf pour la gestion des ressources CSS -->
    <link rel="stylesheet" th:href="@{/templates/styles.css}">
</head>
<body>
    <!-- Utilisation de Thymeleaf pour la gestion des ressources JS -->
    <script th:src="@{/templates/script.js}"></script>
</body>
</html>
