<div th:fragment="sidebar">
    <div th:replace="~{fragments/sidebar-base :: sidebarBase(~{::header},~{::content})}">
        <th:block th:fragment="header">
            <a th:href="@{/administratif}" class="logo" style="text-decoration:none; color:inherit; display:flex; align-items:center;">
                <i class="fas fa-coffee"></i>
                <span style="margin-left:8px;">Caf-E</span>
            </a>
        </th:block>
        <th:block th:fragment="content">
            <li class="nav-item">
                <a th:href="@{/administratif/production/stats}" class="nav-link">
                    <i class="fas fa-euro-sign"></i>
                    <span>Statistiques</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/produits}" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <span>Produits</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/machines}" class="nav-link">
                    <i class="fas fa-cogs"></i>
                    <span>Machine</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/administratif/production/matiere-premiere}" class="nav-link">
                    <i class="fas fa-boxes"></i>
                    <span>Matières premières </span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/administratif/production/unite}" class="nav-link">
                    <i class="fas fa-balance-scale"></i>
                    <span>Unités </span>
                </a>
            </li>
        </th:block>
    </div>
</div>