<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeManager Pro - Gestion de Café</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/templates/styles.css}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header-left">
             <div class="product-info">
                <a th:href="@{/administratif}" data-page="dashboard" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <img th:src="@{/images/logo/logo.jpg}" alt="Café">
                </a>
            </div>
        </div>
        <div class="header-right">
            <h1 class="page-title" id="pageTitle">Gestion de ressources humaines</h1>
        </div>
    </header>
    <main class="content">
        <!-- Sidebar  -->
        <div class="sidebar" id="sidebar">    
            <nav class="sidebar-nav">
                <ul>
                    <li class="nav-item active">
                        <a href="#" data-page="dashboard" class="nav-link">
                            <i class="fas fa-chart-line"></i>
                            <span>Gestion des employes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="stock" class="nav-link">
                            <i class="fas fa-boxes"></i>
                            <span>Gestion des salaires</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="production" class="nav-link">
                            <i class="fas fa-cogs"></i>
                            <span>Gestion des conges et des jours feries</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="finances" class="nav-link">
                            <i class="fas fa-euro-sign"></i>
                            <span>Gestion des recrutement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="finances" class="nav-link">
                            <i class="fas fa-euro-sign"></i>
                            <span>Parametrages</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content" id="mainContent">

            <div class="financial-details">
                <div class="finance-chart-card">
                    <div class="card-header">
                        <h3><i class="fas fa-chart-area"></i>Gestion des fiches de paie</h3>
                    </div>
                    <div class="chart-placeholder">
                        
                        <div class="production-items-grid">
                            <div class="production-item-card">
                                <div class="item-details">
                                <h4>Employe : nom</h4>
                                <div class="customer-avatar">
                                    <img src="" alt="">
                                </div>
                                <div class="item-stats">
                                    <span class="quantity">Date Recrutement : </span>
                                    <br>
                                    <span class="quantity">Genre : </span>
                                    <br>
                                    <span class="quantity">Contact : </span>
                                </div>
                                <br>
                                <a href="@{/administratif/rh/salaire/fiche-de-paie(idEmploye=${employe.id})}" class="btn secondary">Voir la fiche de l'employe</a><br>
                            </div>
                        </div>
                        <br><br>
                        <div class="orders-container">

                            <form action="@{/administratif/rh/salaire/payer-fiche-de-paie}" method="post">
                                <input type="hidden" name="idEmploye" th:value="${employe.id}">
                                <div class="order-card priority">
                                    <div class="order-header">
                                        <div class="order-id">
                                            <i class="fas fa-hashtag"></i>
                                            <span>Mois reference : </span>
                                        </div>
                                    </div>
                                    <div class="order-items">
                                        <div class="order-item">
                                            <span class="item-name">Salaire de base :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Conge non payes :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Commission :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Retenues sociales :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">IRSA :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <hr>
                                        <div class="order-item">
                                            <span class="item-name">Salaire brut(Salaire de base + Commission - Conges non Payes) :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Salaire net imposable(Salaire brut - Retenues sociales) :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Retenue pour avance :</span>
                                            <span class="item-price"></span>
                                        </div>
                                        <div class="order-item">
                                            <span class="item-name">Salaire net a payer(Salaire net imposable - IRSA - retenue pour avance) :</span>
                                            <span class="item-price"></span>
                                        </div>
                                    </div>
                                    <div class="order-footer">
                                        <div class="order-total">
                                            <span class="total-label">Total:</span>
                                            <span class="total-amount"></span>
                                        </div>
                                        <div class="order-actions">
                                            <button class="btn success small" type="submit">
                                                <i class="fas fa-check"></i>
                                                Payer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                
                <div class="expense-breakdown-card">
                    <div class="card-header">
                        <h3><i class="fas fa-pie-chart"></i> Historique des payements de salaire</h3>
                    </div>
                    <div class="table-container">
                        <table class="data-table">
                            <thead>
                                <tr>
                                    <th><i class="fas fa-tag"></i> Mois reference</th>
                                    <th><i class="fas fa-weight"></i> Date Payement</th>
                                    <th><i class="fas fa-ruler"></i> Montant (Ariary) </th>
                                    <th><i class="fas fa-info-circle"></i> Importer Pdf</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>12-2024</strong></td>
                                    <td>12-02-2025</td>
                                    <td>250000</td>
                                    <td>
                                        <a href="@{/administratif/rh/salaire/fiche-de-paie(idEmploye=${employe.id})}" class="btn secondary">Id 2</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>
