<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeManager Pro - Gestion de Café</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/templates/styles.css}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="header-left">
            <div class="product-info">
                <a th:href="@{/administratif}" data-page="dashboard" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <img th:src="@{/images/logo/logo.jpg}" alt="Café">
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="product-info">
                <h1 class="page-title" id="pageTitle">Gestion de ressources humaines</h1>

            </div>
        </div>
    </header>
    <main class="content">
        <!-- Sidebar  -->
        <div class="sidebar" id="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    <li class="nav-item">
                        <a href="#" data-page="dashboard" class="nav-link">
                            <i class="fas fa-chart-line"></i>
                            <span>Gestion des employes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="stock" class="nav-link">
                            <i class="fas fa-boxes"></i>
                            <span>Gestion des salaires</span>
                        </a>
                    </li>
                    <li class="nav-item  active">
                        <a th:href="@{/administratif/rh/conge}" data-page="production" class="nav-link">
                            <i class="fas fa-cogs"></i>
                            <span>Gestion des conges et des jours feries</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-page="finances" class="nav-link">
                            <i class="fas fa-euro-sign"></i>
                            <span>Gestion des recrutement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/administratif/rh/parametre}" data-page="finances" class="nav-link">
                            <i class="fas fa-euro-sign"></i>
                            <span>Parametrages</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Congés  -->
        <div class="main-content" id="typeConge">
            <h2>Gestion des types de congés</h2>
            <p>Les types de congés définissent leur raison et s'ils sont payés ou non</p>

            <h4>Formulaire d'ajout de type de congé</h4>
            <div class="form-showcase">
                <form th:action="@{/administratif/rh/conge/ajout-type-conge}" th:object="${typeConge}" method="post"
                    class="form-example">

                    <div class="form-group">
                        <label class="form-label">Nom :</label>
                        <input type="text" class="form-input" placeholder="Ex : Maladie" th:field="*{nom}" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Description :</label>
                        <input type="text" class="form-input" th:field="*{description}"
                            placeholder="Ex : Raison médicale : hospitalisation ou repos" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Payé :</label>
                        <input type="checkbox" class="form-input" th:field="*{paye}">
                    </div>

                    <button type="submit" class="btn primary">Ajouter</button>
                    <br><br>
                </form>
            </div>

            <div class="element-section">
                <h4>Liste des types de congé</h4>
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Payé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tc : ${listeTypeConges}">
                                <td th:text="${tc.nom}">Maladie</td>
                                <td th:text="${tc.description}">Raison médicale</td>
                                <td th:text="${tc.paye ? 'Affirmatif' : 'Non'}">Affirmatif</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <hr><br>
        <div class="main-content" id="conge">
            <h2>Ajouter un congé pour un employé</h2>
            <form th:action="@{/administratif/rh/conge/ajout-conge}" th:object="${conge}" method="post"
                class="form-example">
                <div class="form-group">
                    <label class="form-label">Employé :</label>
                    <select th:field="*{employe}" class="form-input" required>
                        <option value="" disabled selected>-- Choisir un employé --</option>
                        <option th:each="emp : ${listeEmployes}" th:value="${emp.id}" th:text="${emp.nom}">Nom employé
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Type de congé :</label>
                    <select th:field="*{typeConge}" class="form-input" required>
                        <option value="" disabled selected>-- Choisir un type --</option>
                        <option th:each="tc : ${listeTypeConges}" th:value="${tc.id}" th:text="${tc.nom}">Type</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Date début :</label>
                    <input type="date" th:field="*{dateDebut}" class="form-input" required>
                </div>

                <div class="form-group">
                    <label class="form-label">Date fin :</label>
                    <input type="date" th:field="*{dateFin}" class="form-input" required>
                </div>

                <button type="submit" class="btn primary">Valider</button>
            </form>
            <br>
            <div class="element-section">
                <h4>Liste des congés des employés</h4>
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Employé</th>
                                <th>Type de congé</th>
                                <th>Description</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Durée</th>
                                <th>Payé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="conge : ${listeConges}">
                                <td th:text="${conge.employe.nom}">Nom Employé</td>
                                <td th:text="${conge.typeConge.nom}">Maladie</td>
                                <td th:text="${conge.typeConge.description}">Raison médicale</td>
                                <td th:text="${conge.dateDebut}">2025-07-01</td>
                                <td th:text="${conge.dateFin}">2025-07-05</td>
                                <td th:text="${conge.duree}">4</td>
                                <td th:text="${conge.typeConge.paye ? 'Affirmatif' : 'Non'}">Affirmatif</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

</body>
<!-- Modal d'erreur IRSA -->
<div id="popupErreur" class="modal" th:if="${erreur}">
    <div class="modal-content">
        <span class="close" onclick="fermerPopup()">&times;</span>
        <h3>Erreur</h3>
        <p th:text="${erreur}">Une erreur s'est produite</p>
    </div>
</div>

<style>
    .modal {
        display: block;
        /* affiché si th:if est vrai */
        position: fixed;
        z-index: 1000;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        width: 40%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: slideIn 0.4s ease;
    }

    .close {
        color: red;
        float: right;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    @keyframes slideIn {
        from {
            transform: translateY(-50px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>

<script>
    function fermerPopup() {
        document.getElementById("popupErreur").style.display = "none";
    }
</script>


</html>