<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques - Caf-E</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/templates/styles.css}">
</head>
<body>
    <div th:replace="~{administratif/layout/sidebar :: sidebar}"></div>
    <div class="main-content" id="mainContent">
        <div th:replace="~{administratif/layout/header :: header('Statistiques')}"></div>
        <main class="content">
            <h2>Page Statistiques</h2>
            <!-- Contenu spécifique à la page Statistiques -->
        </main>
    </div>
    <script th:src="@{/templates/script.js}"></script>
</body>
</html>