<header class="header" th:fragment="header(title)">
    <div class="header-left">
        <button class="mobile-toggle" id="mobileToggle">
            <i class="fas fa-bars"></i>
        </button>
        <h1 th:text="${title}">Welcome</h1>
        <div class="product-info">
            <!-- Lien vers la page administratif -->
            <a th:href="@{/administratif}" data-page="dashboard" class="nav-link">
                <i class="fas fa-chart-line"></i>
            </a>
        </div>
    </div>
</header>