<div th:fragment="sidebar" class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fas fa-coffee"></i>
            <span>Caf-E</span>
        </div>
        <button class="sidebar-toggle" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="nav-item">
                <a th:href="@{/administratif/production/stats}" class="nav-link">
                    <i class="fas fa-euro-sign"></i>
                    <span>Statistiques</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/produits}" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <span>Produits</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/administratif/production/machine}" class="nav-link">
                    <i class="fas fa-cogs"></i>
                    <span>Machine</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/administratif/production/matiere-premiere}" class="nav-link">
                    <i class="fas fa-boxes"></i>
                    <span>Matières premières (CRUD)</span>
                </a>
            </li>
        </ul>
    </nav>
</div>